@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');

body, html {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #F7931E;
}

* {
    box-sizing: border-box;
}

section {
    width: 100vw;
    min-height: 100vh;
}